<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
			http://www.springframework.org/schema/tx
       		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       		http://www.springframework.org/schema/task
   			http://www.springframework.org/schema/task/spring-task-3.0.xsd">


    <!-- Activates various annotations to be detected in bean classes -->
    <context:annotation-config />

    <!-- Scans the classpath for annotated components that will be auto-registered as Spring beans.
     For example @Controller and @Service. Make sure to set the correct base-package-->

   	<context:component-scan base-package="com.telappoint.clientbilling"/>
    <!-- Configures the annotation-driven Spring MVC Controller programming model.
    Note that, with Spring 3.0, this tag works in Servlet MVC only!  -->

    <mvc:annotation-driven />

    <mvc:resources mapping="/resources/**" location="/src/main/resources/" />
    <context:property-placeholder location="classpath:commondb.properties" />
    <bean id="masterDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${app.jdbc.driverClassName}"/>
        <property name="url" value="${app.jdbc.billing.url}"/>
        <property name="username" value="${app.jdbc.billing.username}"/>
        <property name="password" value="${app.jdbc.billing.password}"/>
        <property name="removeAbandoned" value="true"/>
	    <property name="initialSize" value="1" />
	    <property name="maxIdle" value="10" />
	    <property name="maxActive" value="250" />
	    <property name="validationQuery" value="select 1 from dual" />
	    <property name="validationQueryTimeout" value="34000" />
	    <property name="removeAbandonedTimeout" value="54" />
	    <property name="timeBetweenEvictionRunsMillis" value="34000" />
    </bean>
    
  <!--   <bean id="openemrDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${app.jdbc.openemrdb.driverClassName}"/>
        <property name="url" value="${app.jdbc.openemrdb.url}"/>
        <property name="username" value="${app.jdbc.openemrdb.username}"/>
        <property name="password" value="${app.jdbc.openemrdb.password}"/>
        <property name="removeAbandoned" value="true"/>
	    <property name="initialSize" value="1" />
	    <property name="maxIdle" value="10" />
	    <property name="maxActive" value="250" />
	    <property name="validationQuery" value="select 1 from dual" />
	    <property name="validationQueryTimeout" value="34000" />
	    <property name="removeAbandonedTimeout" value="54" />
	    <property name="timeBetweenEvictionRunsMillis" value="34000" />
    </bean> -->

    <bean id="masterTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="masterDataSource"/>
    </bean>

	<!-- <bean id="openemrTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="openemrDataSource"/>
    </bean> -->
    
    <bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="masterDataSource"/>
    </bean>
    
    <!-- <bean id="openemrNamedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="openemrDataSource"/>
    </bean> -->
     
    <bean id="masterJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="masterDataSource"></property>
    </bean>
  
    <!-- <bean id="openemrJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="openemrDataSource"></property>
    </bean> -->
    
	
    <!--  Executor for the methods marked wiht @async annotations--> 
	<!--  http://docs.spring.io/spring/docs/3.2.x/spring-framework-reference/html/scheduling.html#scheduling-annotation-support-async -->
 	<task:executor id="mailExecutor"  pool-size="5-25"  queue-capacity="100"  rejection-policy="CALLER_RUNS"/>  
	<!--  Configuration for the Runtime  -->
	<task:annotation-driven executor="mailExecutor" />

</beans>